@keyframes moveleafOne {
  from {
    translate: -1 0rem;
    scale: 1;
  }
  to {
    translate: 1 0rem;
    scale: 0.4;
  }
}

.leafOne {
  animation: moveleafOne 2.5s ease-in-out infinite;
  transform-box: fill-box;
  transform-origin: center;
}
@keyframes moveleafTwo {
  from {
    translate: -1 0rem;
    scale: 1;
  }
  to {
    translate: 1 0rem;
    scale: 0.6;
  }
}

.leafTwo {
  animation: moveleafTwo 2s ease-in-out infinite;
  transform-box: fill-box;
  transform-origin: center;
}
@keyframes moveHead {
  0%,
  100% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
}

.head {
  animation: moveHead 2s ease-in-out infinite;
}

@keyframes moveHand {
  0%,
  100% {
    transform: translateX(-120px) translateY(-240px);
  }
  50% {
    transform: translateX(-110px) translateY(-230px);
  }
}

.handTwo {
  animation: moveHandTwo 2s ease-in-out infinite;
}

@keyframes moveHandTwo {
  0%,
  100% {
    transform: translateX(-112px) translateY(-240px);
  }
  50% {
    transform: translateX(-114px) translateY(-240px);
  }
}

.legOne {
  animation: moveleg 2s ease-in-out infinite;
}

@keyframes moveleg {
  0%,
  100% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(10px);
  }
}

.Upperleg {
  animation: moveUpperleg 2s ease-in-out infinite;
}

@keyframes moveUpperleg {
  0%,
  100% {
    transform: translateX(-110px) translateY(-240px);
  }
  50% {
    transform: translateX(-110px) translateY(-230px);
  }
}

.UpperlegTwo {
  animation: moveUpperlegTwo 2s ease-in-out infinite;
}

@keyframes moveUpperlegTwo {
  0%,
  100% {
    transform: translateX(-110px) translateY(-230px);
  }
  50% {
    transform: translateX(-110px) translateY(-225px);
  }
}
.hand,
.lowerhand {
  animation: moveHand 2s ease-in-out infinite;
}

@keyframes moveHair {
  0%,
  100% {
    transform: translateX(-120px) translateY(-235px);
  }
  50% {
    transform: translateX(-100px) translateY(-235px);
  }
}

.hair {
  animation: moveHair 2s ease-in-out infinite;
}

@media (min-width: 350px) and (max-width: 640px) {
  .setForMobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20%;
  }
  .alignHeroSvg {
    height: 200px;
    width: 350px;
  }
  .setName {
    font-size: 72px;
    color: bisque;
  }
  .forMobile {
    margin-top: 70px;
  }
}

@media (min-width: 500px) and (max-width: 640px) {
  .setForMobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15%;
  }
}

.blue-line-point {
  width: 20px;
  height: 20px;
  background-color: blue;
  border-radius: 100%;
  position: relative;
  top: 10px;
}

.animate-HeroIntro-Heading {
  animation: load-HeroIntro 300ms ease-in 500ms;
  animation-fill-mode: forwards;
  opacity: 0;
}
.animate-HeroIntro {
  animation: load-HeroIntro 300ms ease-in 700ms;
  animation-fill-mode: forwards;
  opacity: 0;
}
.animate-HeroImg {
  animation: load-HeroImg 300ms ease-in 700ms;
  animation-fill-mode: forwards;
  opacity: 0;
}
@keyframes load-HeroIntro {
  0% {
    transform: translateX(-30px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes load-HeroImg {
  0% {
    transform: translateX(30px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.btn-grad {
  margin: 25px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.btn-grad:hover {
  background-color: white;
  color: black;
  text-decoration: none;
}

.shadow-FootBar {
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  border: none;
}
