@keyframes moveleafOne {
  from {
    translate: -1 0rem;
    scale: 1;
  }
  to {
    translate: 1 0rem;
    scale: 0.4;
  }
}

.leafOne {
  animation: moveleafOne 2.5s ease-in-out infinite;
  transform-box: fill-box;
  transform-origin: center;
}
@keyframes moveleafTwo {
  from {
    translate: -1 0rem;
    scale: 1;
  }
  to {
    translate: 1 0rem;
    scale: 0.6;
  }
}

.leafTwo {
  animation: moveleafTwo 2s ease-in-out infinite;
  transform-box: fill-box;
  transform-origin: center;
}
@keyframes moveHead {
  0%,
  100% {
    transform: translateZ(-10px) scale(1);
  }
  50% {
    transform: translateZ(10px) scale(1.1);
  }
}

.head {
  animation: moveHead 2s ease-in-out infinite;
  transform-box: fill-box;
  transform-origin: top left;
}

@keyframes moveHair {
  0%,
  100% {
    transform: translateX(-110px) translateY(-235px) scale(1);
  }
  50% {
    transform: translateX(-110px) translateY(-235px) scale(1.1);
  }
}

.hair {
  animation: moveHair 2.5s ease-in-out 0.5s infinite;
  transform-box: fill-box;
  transform-origin: 0px 0px;
  /* translate: 10px 10px;
  scale: ; */
}

@media screen and (max-width: 640px) {
  .alignHeroSvg {
    height: 300px;
    width: 350px;
  }
}

@media screen and (min-width: 1278px) {
  .alignHeroSvg {
    height: 400px;
    width: 500px;
  }
  .setAspectRatio {
    aspect-ratio: 2/1;
  }
}

@media (min-width: 350px) and (max-width: 1280px) {
  .setAspectRatio {
    aspect-ratio: 1/2;
  }
}

/* .blue-line {
  width: 0px;
  height: 2px;
  background-color: blue;
} */

.blue-line-point {
  width: 20px;
  height: 20px;
  background-color: blue;
  border-radius: 100%;
  position: relative;
  top: 10px;
}