.nav_parent {
  display: flex;
  background-color: rgba(0, 0, 0);
  color: whitesmoke;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  position: fixed;
  top: 0;
  cursor: pointer;
  padding-right: 25px;
  z-index: 50;
  animation: nav-load 300ms ease-in;
}

.animate-FootBar {
  animation: foot-load 500ms ease-in;
}

@keyframes nav-load {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes foot-load {
  0% {
    transform: translateY(1000%);
  }
  100% {
    transform: translateY(0);
  }
}
.text1 {
  margin-top: 1rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
  font-size: x-large;
  animation: nav-portfolio 700ms;
  animation-fill-mode: forwards;
  transform: translateX(-100%);
}

@keyframes nav-portfolio {
  0% {
    transform: translateX(-100%);
  }
  90% {
    transform: translateX(10%);
  }
  100% {
    transform: translateX(0);
  }
}

.nav_child2 {
  display: flex;
  animation: nav-link-load 400ms ease-in 300ms;
  animation-fill-mode: forwards;
  transform: scale(0);
}

.nav_child1 {
  animation: nav-link-load 400ms ease-in 300ms;
  animation-fill-mode: forwards;
  transform: scale(0);
}
@keyframes nav-link-load {
  0% {
    transform: scale(0);
  }
  90% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.text2 {
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 0.5rem;
  font-size: large;
  height: 2.5rem;

  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;

}

.text2:hover {
  background-color: rgb(255, 245, 245);
  color: black;
  box-sizing: border-box;
}

.selected {
  background-color: white;
  color: black;
}

@media screen and (max-width: 350px) {
  .nav_child2 {
    display: none;
  }
  .open {
    background-color: rgba(0, 0, 0, 0.799);
    display: flex;
    flex-direction: column;
    margin-top: 95px;
    top: 0;
    right: 0;
    color: aliceblue;
    height: fit-content;
  }
  .text2 {
    border: none;
  }
}
@media (min-width: 350px) and (max-width: 768px) {
  .nav_child2 {
    display: none;
    position: absolute;
  }
  .open {
    background: transparent;
    display: flex;
    flex-direction: column;
    right: 0;
    top: 0;
  }

  .text2 {
    border: 0;
  }
}

@media (min-width: 800px) {
  .hide {
    display: none;
  }
}
