.boxAnimation {
  animation: vibrate 1.5s infinite;
}

@keyframes vibrate {
  0%,
  100% {
    transform: translateY(-10%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.moveIcons {
  animation: move 2s ease 0.5s infinite;
}
@keyframes move {
  0%,
  100% {
    transform: translateX(0px);
    /* scale: 0.5; */
  }

  50% {
    transform: translateX(-20px);
    /* scale: 0.8; */
  }

  /* 100% {
    transform: translateX(20px);
  } */
}
