.boxAnimation {
  animation: vibrate 1.5s infinite;
}

@keyframes vibrate {
  0%,
  100% {
    transform: translateY(-10%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.moveIcons {
  animation: move 2s ease 0.5s infinite;
}
@keyframes move {
  0%,
  100% {
    transform: translateX(0px);
    /* scale: 0.5; */
  }

  50% {
    transform: translateX(-20px);
    /* scale: 0.8; */
  }

  /* 100% {
    transform: translateX(20px);
  } */
}

@media (min-width: 350px) and (max-width: 640px) {
  .headingSection {
    font-size: small;
    margin: 10px;
    padding: 5px;
  }
  .durationSection {
    font-size: x-small;
  }
  .desSection {
    font-size: small;
  }
}

.animate-Skills {
  animation: load-skills-heading 300ms ease-in 700ms;
  animation-fill-mode: forwards;
  opacity: 0;
}

.animate-About {
  animation: load-skills-heading 300ms ease-in 700ms;
  animation-fill-mode: forwards;
  opacity: 0;
}

.animate-ProfileImg {
  animation: load-Profile 300ms ease-in 700ms;
  animation-fill-mode: forwards;
  opacity: 0;
}
.animate-AboutSubSection {
  animation: load-AboutSubSection 300ms ease-in 700ms;
  animation-fill-mode: forwards;
  opacity: 0;
}
@keyframes load-skills-heading {
  0% {
    transform: translateY(-30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes load-Profile {
  0% {
    transform: translateX(-30px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes load-AboutSubSection {
  0% {
    transform: translateX(30px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
